/**
font-family: 'Roboto', sans-serif;
font-family: 'Muli', sans-serif;
**/
body {
    background-color: black;
    color: white;
    font-family: 'Muli', sans-serif;
    width: 100%;
}

.navBar{
    background: black;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
}
iframe{
    width: 550px;
    height: 300px;
}
.btn-outline-dark: hover{
    color: white;
}

.card{
    height: 280px;
    width: 100%;
    margin-top: 20px;
}

.card a{
    position: absolute;
    bottom: 10px;
}

.card-text,
.card-title{
    color: black;
}

.ad-h{
  width:728px;
  height:100px;
}

.ad-footer{
  height: 20px;
}


h1{
  font-size: 30px
}

nav li{
    display: inline;
    padding-right: 26px;
}

.header{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    word-spacing: -2px;
}

.logo-name{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    word-spacing: -2px;
}

nav ul{
    text-align: center;
}

.hidden{
    display: none;
}

.navItem{
    margin: 0 auto;

}

nav a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
}

.collapse-icon{
    display: none;
}

.active {
    color: white;
}

a:hover{
    color: #a3f7bf;
}

.notifcation{
    background-color: tomato;
    color: black;

}



/* Information bar */


.inforBar li{
  display: inline;
}



.inforBar a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    letter-spacing: 0px;
}

.inforBar a:hover{
    color: #7ed6df;
    text-decoration: underline;
}


/* Footer */
hr{
    border-color: #C0C0C0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footerBar a{
    color: white;
    text-decoration: none;
}

.footerBar a:hover{
    color: #a3f7bf;
    text-decoration: underline;
}


.footerBar{
    width: 85%;
    margin: 0 auto;
}

footer .fab{
    margin-right: 10px;
}

footer h2{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    word-spacing: -2px;
}

.footerEnd{
    width: 80%;
    margin: 80px auto 0 auto;
    padding-bottom: 30px;
}
.footerEnd h2{
    display: inline;
    margin-right: 5px;
}

.footerEnd p{
    display: inline;
    margin-left: 10px;
}

.footerTitle{
    color: #C0C0C0;
}


.footerEndH2{
    display: inline;
    border-right: 1px solid red;
}


/* subscription */
.subscription-c{
    width: 80%;
    margin: 0 auto;
    color: black;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(25,28,33);
    border-left: #a3f7bf;
    border-left-style: solid;
    border-left-width: 2px ;
}

.sub-text{
    color: blanchedalmond;
}

.sub-space{
    margin-right: 10px;
}

.subscription-c-i{
    padding: 20px;
}

.subscription-c-i h4{
    color: white;
}

.subscription-c-i p{
    color: rgb(212,212,214);
}

.suuport{
    padding-top: 100px;
}
.suppot-sub,
.suuport h2{
    text-align: center;
}

/* Python - Get started */
.pythonImgDiv{
    height: 800px;
}

.pythonImgDiv2{
    height: 408px;
    margin: 0;
}
.pythonImg{
    background-image: url("/image/unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 4px;
    height: 100%;
}

.pythonImg2{
    margin: 0;
    border-style: solid;
    border-width: 4px;
    height: 96%;
    padding: 30px;
}

.dsBtn{
    text-align: left;
}

.dsBtn .btn{
    margin-left: 20px;
    margin-top: 10px;
}
/* Home */
.contentDiv{
    padding-top: 20px;
}
.contentTop{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 130px;
}

.contentTop2{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
.contentTop h1{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    word-spacing: -2px;
}

.contentTop p{
    margin: 0;
    padding: 0;
}

.info-bg{
    background-color: #f7f7f7;
    color:black;
}
.info-top{
    margin: 0 auto;
    padding-top: 80px;
}

.info-btm {
    text-align: left;
    width: 1150px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
}

.info-btm .col-12{
    margin-bottom: 10px;
}


.info-course{
    display: inline-block;
    position: absolute;
    top: 20px;
}

.info-course p{
    display: inline;
    height: 50px;
    margin-bottom: 100px;
    font-size: 17px;
}

.hex-img-collection{
    margin-top: 50px;
    overflow: hidden;
    height: 750px;
    position: relative;
}
.hex-img{
    position: absolute;
    width: 300px;
}

.hex-Java{
    left: -100px;
    top:-120px;
    transform: rotate(340deg);
}

.hex-python{
    right: -100px;
    top:-50px;
    transform: rotate(20deg);
}

.hex-swift{
    top:100px;
    transform: rotate(340deg);
}

.hex-CSS{
    top:320px;
    right: -100px;
    transform: rotate(340deg);
}

.hex-JS{
    top:320px;
    left: -120px;
    transform: rotate(340deg);
}

.hex-HTML{
    top:530px;
    left: 20px;
    transform: rotate(350deg);
}



.alert-white{
    background-color: a3f7bf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.alert-shadow{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-btm .alert-shadow:hover{
    background-color: #ffcbcb;
    transform: translateY(-5px);
    transition: transform fast;
}
.info-btm .alert-shadow-2:hover{
    background-color: #cceabb;
    transform: translateY(-5px);
    transition: transform fast;
}

.contentXLarge{
    font-size: 40px;
}

.contentLarge{
    font-size: 30px;
}

.contentSmall{
    font-size: 20px;
}


.contentPath{
    margin: 0 auto;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(29,38,44,1) 50%);
    padding-bottom: 100px;
}

.path-top{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

/* Specialization */
.specialization-ds {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
}

.card-style{
    background-color: rgb(25,28,33);
    border-left: #a3f7bf;
    border-left-style: solid;
    border-left-width: 5px ;
    height: 350px;
    text-align: center;
}

.card-style .card-text{
    color: rgb(212,212,214);
}
.card-style .card-title{
    color: white;
}

.card-style .btn{
    width: 200px;
    left: 33%;
    transform: translate(-20%);
    
}

.card-style:hover{

    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(255, 255, 255, 0.8);
}

.specializations-cards{
    width: 90%;
    margin: 0 auto;
}

.infoDiv{
    margin: 0 auto 0px auto;
    border: white;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    text-align: center;
    width: 90%;
}

.btn-s{
    color: black;
    margin-left: 20px;
    display: inline;
}

.content-btn{
  position: absolute;
  width: 100%;
  bottom: 2px;
}



/* Teach */
.teach-div {
    width: 1300px;
    margin: 0 auto;
}

.teach-div .youtube{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.teach{
    width: 80%;
    padding-top: 120px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.teach p{
    color: rgb(212,212,214);
    margin-top: 20px;
}

.teach strong{
    color: white;
}

/* Who are we */
.who{
    text-align: center;
    padding-top: 40px;
    margin: 0;
}

.who .card{
    width: 100%;
    height: 500px;
}
.who h5{
    margin-top: 20px;
}
.who h5,
.who p{
    color: rgb(212,212,214);
}

.who .card p{
    color: rgb(66,84,99);
    text-align: justify;
}
.about a{
    width: 30%;
}
.card-img-top{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

.about{
    width: 80%;
    margin: 0 auto;
}


.about .fab{
    margin-right: 5px;
}
.linkedin{
    left: 38%;
    transform: translateX(-62%);
}

.instagram{
    left: 62%;
    transform: translateX(-38%);
}

/* Lesson */
.lesson{
    padding-top:200px;
}




.lessonTitle{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.topic-lessons{
    width: 100%;
    margin: 0 auto;

}


.donateBtn{
    margin-top: 50px;
}

.donateW{
    width: 20%;
}

.subsctiption{
    padding-top: 100px;
    padding-bottom: 100px;
}


.subsctiption .fab{
    margin-left: 20px;
    margin-right: 5px;
}

.subsctiption{
    width: 90%;
    margin: 0 auto;
}

.newsLetter{
    padding-bottom: 100px;
}

.subsctiption form{
    width: 50%;
}

input{
    width: 100%;
    height: 50px;
}

.formTop{
    border-width: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formBtm{
    border-width: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formBtn{
    margin-top: 20px;
    border-radius: 30px;
}

.afterInformationBar{
  width: 1300px;
  margin: 160px auto 0 auto;
}

.intro{
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  text-align: center;
}

.download{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}

.top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style:none;
}

.mid{
  border-style: none;
}

.btm{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style:none;
}

.clear .button{
  border-style:none;
  background-color: tomato;
  border-radius: 50px;
  color: white;
  margin-top: 10px;
}

.clear .button:hover{
  background-color: red;
}

.stayConnected{
  color: white;
  margin-right: 10px;
}

.stayConnected .fab{
  margin-right: 5px;
}

.subscribe{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;

}


@media only screen and (min-width: 2000px){
    .contentPath {
        width:  1400px;
    }

    .who{
        width: 1400px;
        margin: 0 auto;
    }

    .suuport{
        width: 1400px;
        margin: 0 auto;
    }


    .footerBar{
        width: 60%;
        margin: 0 auto;
    }


}
@media only screen and (max-width: 1300px){
    .teach-div {
        width: 1200px;
    }


}

@media only screen and (max-width: 1250px){
    .card-style{
        height: 400px;
    }
    .hex-img-collection{
        width: 100%;
    }

    .subsctiption form{
        width: 100%;
    }

    .who .card{
        height: 530px;
    }


}

@media only screen and (max-width: 1200px){
    .hex-img-collection{
        width: 100%;
    }

    .subsctiption form{
        width: 100%;
    }

    .teach-div {
        width: 1100px;
    }

}
@media only screen and (max-width: 1200px){
    .youtube{
        width: 450px;
    }
}


@media only screen and (max-width: 1150px){
    
    .teach-div {
        width: 1000px;
    }

    .info-btm {
        width: 800px;
    }

    .hex-Java{
        left: -120px;
        top:-100px;
    }
    
    .hex-python{
        right: -120px;
        top:10px;
    }
    
    .hex-swift{
        top:100px;
        left: -60px;
    }
    
    .hex-CSS{
        top:360px;
        right: -140px;
        transform: rotate(20deg);
    }
    
    .hex-JS{
        top:300px;
        left: -120px;
    }
    
    .hex-HTML{
        top:530px;
        left: -50px;
    }

    .who .card{
        height: 550px;
    }

}
@media only screen and (max-width: 1080px){
    .about a{
        width: 35%;
    }
}

@media only screen and (max-width: 1070px){
    .card-style{
        height: 440px;
    }
    .card-style .btn{
        left: 28%;    
    }
}



@media only screen and (max-width: 992px) {

    .card-style .btn{
        left: 33%;    
    }

    .teach-div {
        width: 800px;
    }

    .sub-space{
        margin: 20px auto;
    }
    .specializations-cards{
        position: relative;
    }

    .card-style{
        height: 390px;
    }

    .card-special{
        position: absolute;
        left: 50%;
        top: 410px;
    }

    .teach-div {
        height: 1000px;
    }

    .teach{
        width: 80%;
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .how{
        height: 700px;
    }

    .teach-div{
        position: relative;
        top: -300px;
    }

    .youtube-div{
        position: relative;
        top: 600px;
    }

    .about a{
        width: 30%;
    }

}
@media only screen and (max-width: 960px) {
    .ad-h{
        width:528px;
        height:100px;
    }

    nav li{
        display: block;
    }

    nav ul{
        text-align: left;
        font-size: 30px;
        margin-left: 60px;
    }

    .item-collapse{
      display: none;
    }

    .collapse-icon{
        display: inline;
        position: absolute;
        right: 10px;
        top: 10px;
        border: white;
        border-style: solid;
        border-width: 1px;
        padding: 5px 10px 5px 10px;
    }

    /* Information bar */

    .inforItem .btn{
        margin-top: 10px;
    }

    .pythonImgDiv2{
        height: 450px;
        margin: 0;
    }

    .inforBar{
        position: relative;
        padding-top: 60px;
        padding-bottom: 20px;

    }
}

@media only screen and (max-width: 800px) {
    .info-btm {
        width: 700px;
    }

    .teach-div {
        width: 700px;
    }
}

@media only screen and (max-width: 767px) {
    .card-special{
        position: relative;
        left: 0%;
        top:0px;
    }

    .card-style .btn{
        left: 38%;    
    }


    .teach-div {
        width: 600px;
    }

    .hex-img-collection{
        display: none;
    }
    .info-btm {
        padding-bottom: 0;
    }
    .contentXLarge{
        font-size: 30px;
    }
    .contentLarge{
        font-size: 20px;
    }
    
    .contentSmall{
        font-size: 15px;
    }
    .ad-h{
        width:428px;
        height:120px;
    }
    .card {
        width: 80%;
        margin: 10px auto 0 auto;
    }

}

@media only screen and (max-width: 730px) {
    .info-btm {
        width: 600px;
    }

    .info-course2{
        top: 10px;
    }
}

@media only screen and (max-width: 640px) {

    .card-style .btn{
        left: 33%;    
    }

    .teach-div {
        width: 500px;
    }

    .info-btm {
        width: 540px;
    }

    .ad-h{
      width:328px;
      height:100px;
    }


    .course-header{
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .how{
        height: 800px;
    }

    .teach-div{
        position: relative;
        top: -250px;
    }

    .youtube-div{
        top: 700px;
    }

    .teach{
        width: 100%;

    }

    .youtube{
        width: 400px;
    }


  }
@media only screen and (max-width: 545px) {
    .teach-div {
        width: 400px;
    }

    .info-btm {
        width: 440px;
    }

    .contentXLarge{
        font-size: 25px;
    }

    .who .card{
        height: 580px;
    }

    .about a{
        width: 35%;
    }

    .linkedin{
        left: 35%;
    }

    .instagram{
        right: 60%;
    }

}

@media only screen and (max-width: 450px) {
    .info-btm {
        width: 340px;
    }

    .whatLang{
        width: 280px;
        height: 135px;
    }

    .lesson{
        padding-top:80px;
    }

    .nav h1{
        text-align: left;
        margin-left: 50px;
    }
    .collapse-icon{
        right: 20px;
    }

    .inforBar{
        padding-top: 50px;

        margin: 0px auto 10px auto;

    }

    .black{
        height: 500px;
    }

    .who .card{
        height: 630px;
    }

    .who .row{
        padding: 0;
        margin: 0;
    }

    .about a{
        width: 38%;
    }

    .linkedin{
        left: 32%;
    }

    .instagram{
        left: 65%;
    }

}




@media only screen and (max-width: 400px) {
    .teach-div {
        width: 300px;
    }


    .black{
        height: 620px;
    }

}


@media only screen and (max-width: 320px) {
    .info-btm {
        width: 290px;
    }

    .whatLang{
        width: 220px;
        height: 135px;
    }

    .info-course{
        top: 0;
    }

    .info-bg .col-12{
        margin-bottom: 40px;
    }

    .youtube{
        height: 240px;
        width: 300px;
    }

    .btn-s{
        margin-left: 0;
    }

    .specializations-cards .card{
        margin: 0;
        width: 100%;
        height: 430px;
    }
    .card-style .btn{
        left: 28%;
    }

    .who .col-xl-6{
        padding: 0;
    }

    .who .card{
        height: 750px;
    }

    .about a{
        width: 50%;
    }

    .linkedin{
        left: 32%;
    }

    .instagram{
        left: 68%;
    }
}
